@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap");

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  background-color: var(--colorLightest);
  color: var(--colorText);
  font-family: var(--font);
  font-size: var(--fontRegular);
  font-weight: var(--fontWeightRegular);
}
